<br>
<table class="contact_table">
    <tr>
        <td class="contact_table_left">
            <img class="contact_badge" src="badges/discordretrobutton2.gif">
        </td>
        <td class="contact_table_right">
            <p>
                Dial in to the <a href="https://discord.gg/69TwX6">https://discord.gg/69TwX6</a> bulletin board system to speak with me and my internet friends - just look for VoidCrafted#0001 in the sidebar! no newbs allowed!!1!one!!
            </p>
        </td>
    </tr>
    <tr>
        <td class="contact_table_left">
            <img class="contact_badge" src="badges/gmail.gif">
        </td>
        <td class="contact_table_right">
            <p>
                You can email me at <code>jay</code> (at) <code>jaywilliams</code> (dot) <code>me</code>, but responses may not be immediate, so discord is preferred
            </p>
        </td>
    </tr>
</table>