<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<marquee>
    <blink>
        <h1 class="marquee_text blink_text">
            <%- ("Welcome to my website! " + "&nbsp;".repeat(10)).repeat(30) %>
        </h1>
    </blink>
</marquee>

<img style="width: 100%" src="seperator.gif">
<br>
<br>

<img style="width: 90%" src="real_site.png" style="background-color: white;">

<p>
    Yes to see my new site just click here:
</p>
<button id="newsite_a">New site</button>
<button id="newsite_b" style="opacity: 0;">New site</button>
<h1 id="jk">HA PRANK! Seriously its here: <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">here</a></h1>
<script>
    var flips = 0
    $("#jk").hide()
    $("#newsite_a").hover(function() {
        if (flips > 3) {
            $("#newsite_a").css("opacity", 0)
            $("#newsite_b").css("opacity", 0)
            $("#jk").show(2000)
        }
        $("#newsite_a").css("opacity", 0)
        $("#newsite_b").css("opacity", 100)
        flips += 1
    })
    $("#newsite_b").hover(function() {
        if (flips > 3) {
            $("#newsite_a").css("opacity", 0)
            $("#newsite_b").css("opacity", 0)
            $("#jk").show(2000)
        }
        $("#newsite_b").css("opacity", 0)
        $("#newsite_a").css("opacity", 100)
        flips += 1
    })
</script>
<br>
<br>
<br>
<img style="width: 90%" src="what_is_site.gif">

<p>
    This site is a landing page for all of my domains, which are used for email and ssh etc but not actually for web hosting.
</p>

<img style="width: 90%" src="why_does_it_look_shit.gif">

<p>
    I learned web design in 2008.
</p>
