.cursor {
    cursor: url(/banana1.gif), url(/banana1.ani), auto;
}
.blink_text {
    animation:0.3s blinker linear infinite;
    -webkit-animation:0.3s blinker linear infinite;
    -moz-animation:0.3s blinker linear infinite;

    color: red;
}
body {
    margin: 2%;
    padding: 5%;
    text-align: center;
    background-image: url(/background2.gif)
}


.ricky {
    animation: 1s ricky linear infinite;
}

@keyframes ricky {
    from {
                /* Safari */
        -webkit-transform: rotate(0deg);

        /* Firefox */
        -moz-transform: rotate(0deg);

        /* IE */
        -ms-transform: rotate(0deg);

        /* Opera */
        -o-transform: rotate(0deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

    }
    to {
        /* Safari */
        -webkit-transform: rotate(350deg);

        /* Firefox */
        -moz-transform: rotate(350deg);

        /* IE */
        -ms-transform: rotate(350deg);

        /* Opera */
        -o-transform: rotate(350deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
}



.table_main {
    width: 100%;
    height: 100%;
}
.table_footer {
    width: 100%;
}

.contact_table {
    width: 100%;
    border: 0;
}
.contact_badge {
    width: 100%;
}
.contact_table_left {
    width: 20%;
}
.contact_table_right {
    width: 80%;
    text-align: center
}

.left_column {
    background-color: rgb(204, 0, 204);
    width: 15%;
    vertical-align: top;

}
.right_column {
    animation: colorRotate 6s linear 0s infinite;
    vertical-align: top;
    text-align: center;
    width: 80%;
}
.footer_right {
    text-align: center;
}


@keyframes colorRotate {
    from {
        background-color: rgb(255, 0, 0);
    }
    16.6% {
        background-color: rgb(255, 0, 255);
    }
    33.3% {
        background-color: rgb(0, 0, 255);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    66.6% {
        background-color: rgb(0, 255, 0);
    }
    83.3% {
        background-color: rgb(255, 255, 0);
    }
    to {
        background-color: rgb(255, 0, 0);
    }
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    49% { opacity: 1.0; }
    50% { opacity: 0.0; }
    99% { opacity: 0.0;}
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    49% { opacity: 1.0; }
    50% { opacity: 0.0; }
    99% { opacity: 0.0;}
    100% { opacity: 1.0; }
}
@font-face {
    font-family: comicsans;
    src: url(/comicsans.ttf);
}

h1, h2, h3 {
    font-family: comicsans, serif;
}

.testimonial {
    text-decoration: underline wavy;
    font-size: 30px;
    font-family: comicsans, serif;
    position: absolute;
    animation: rotateTestimonial 6s linear 0s infinite;
    color: yellow;
    background-color: rgba(0,0,0,50)
    
}


@keyframes rotateTestimonial {
    from {
                /* Safari */
        -webkit-transform: rotate(0deg);

        /* Firefox */
        -moz-transform: rotate(0deg);

        /* IE */
        -ms-transform: rotate(0deg);

        /* Opera */
        -o-transform: rotate(0deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);

    }
    to {
        /* Safari */
        -webkit-transform: rotate(350deg);

        /* Firefox */
        -moz-transform: rotate(350deg);

        /* IE */
        -ms-transform: rotate(350deg);

        /* Opera */
        -o-transform: rotate(350deg);

        /* Internet Explorer */
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    }
}

.marquee_text {
    margin-top: 0;
    margin-bottom: 0%;
    font-family: comicsans;
    font-size: 30px;
    color: yellow;
    background-color: green;
    
}
p {
    font-family: comicsans
}
a.fancy_button, button.fancy_button { 
background: #555; 
background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.4)), to(rgba(77,77,77,0.4)));  
background: -moz-linear-gradient(top, rgba(0,0,0,0.4), rgba(77,77,77,0.4)); 
float: left; 
padding: 4px; 
text-decoration: none; 
outline: 0; 
border-width: 1px; 
border-style: solid;
width: auto;
overflow: visible;
border-color: transparent transparent #666 transparent; 
border-color: transparent transparent rgba(202,202,202,0.27) transparent;
-webkit-border-radius: 12px; -moz-border-radius: 12px; border-radius: 12px;
-webkit-background-clip: padding-box;
}

a.fancy_button span, button.fancy_button span { 
display: block; 
float: left;
letter-spacing: -1px; 
border-width: 1px; 
border-style: solid; 
border-color: #ccc #444 #111 #444; 
border-color: rgba(255,255,255,0.7) rgba(0,0,0,0.5) rgba(0,0,0,0.7) rgba(0,0,0,0.5); 
font: bold 21px/1em Arial;
color: white; 
padding: 0.48em 2em; 
cursor: pointer; 
text-shadow: rgba(0,0,0,0.45) 0 -1px 0; 
-webkit-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: rgba(0,0,0,0.75) 0px 0px 3px;
-webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;
background: transparent -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.6)), color-stop(0.5, rgba(255,255,255,0.15)), color-stop(0.5, rgba(255,255,255,0.01)), to(transparent)); 
background: transparent -moz-linear-gradient(top, rgba(255,255,255,0.6), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.01) 50%, transparent);
filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorstr='#80FFFFFF', EndColorstr='#00FFFFFF'); 
-webkit-background-clip: padding-box;
}

a.fancy_button:hover span, button.fancy_button:hover span {  
border-top-color: rgba(255,255,255,0.65); 
background: -webkit-gradient(linear, left top, left bottom, from(rgba(220,220,220,0.6)), color-stop(0.5, rgba(100,100,100,0.2)), color-stop(0.5, rgba(0,0,0,0.21)), to(rgba(0, 0, 0, 0.20))); 
background: -moz-linear-gradient(top, rgba(220,220,220,0.6), rgba(100,100,100,0.2) 50%, rgba(0,0,0,0.21) 50%, rgba(0, 0, 0, 0.20));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#99dcdcdc', EndColorStr='#33000000'); 
-webkit-background-clip: padding-box;
}

a.fancy_button:active span, button.fancy_button:active span {  
border-top-color: rgba(255,255,255,0.2); 
border-left-color: rgba(0,0,0,0.4); 
background: -webkit-gradient(linear, left top, left bottom, from(rgba(150,150,150,0.6)), color-stop(0.5, rgba(60,60,60,0.6)), color-stop(0.5, rgba(40,40,40,0.6)), to(rgba(20, 20, 20, 0.5))); 
background: -moz-linear-gradient(top, rgba(150,150,150,0.6), rgba(60,60,60,0.6) 50%, rgba(40,40,40,0.6) 50%, rgba(20, 20, 20, 0.5));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#80969696', EndColorStr='#59000000'); 
-webkit-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; -moz-box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; box-shadow: inset 0 0 18px rgba(0,0,0,0.75), rgba(0,0,0,0.75) 0px 0px 3px; 
-webkit-background-clip: padding-box;
}

a.fancy_button span:active, button.fancy_button span:active { 
border-top-color: rgba(255,255,255,0.2); 
border-left-color: rgba(0,0,0,0.4); 
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#80969696', EndColorStr='#59000000'); 
-webkit-background-clip: padding-box;
}