<html>
    <head>
        <title> JAY'S WEBSITE </title>
        <link rel="stylesheet" href="style.css">
    
    </head>
    <body style="" class="cursor">
        <div class="testimonial" style="top: <%= Math.floor(Math.random() * 100)%>%; left: <%= Math.floor(Math.random() * 100)%>%;">
                I'm bathing my eyes in bleach - Queq
        </div>
        <div class="testimonial" style="top: <%= Math.floor(Math.random() * 100)%>%; left: <%= Math.floor(Math.random() * 100)%>%;">
                those colors... my eyes... why did I just sit there and stare at it? - MyNagaBeauvice
        </div>
        <div class="testimonial" style="top: <%= Math.floor(Math.random() * 100)%>%; left: <%= Math.floor(Math.random() * 100)%>%;">
            With these colors you should just come out as gay already - Tyler
        </div>
        <div class="testimonial" style="top: <%= Math.floor(Math.random() * 100)%>%; left: <%= Math.floor(Math.random() * 100)%>%;">
            Uncle Tony Approved - Ryan
        </div>
            <div class="testimonial" style="top: <%= Math.floor(Math.random() * 100)%>%; left: <%= Math.floor(Math.random() * 100)%>%;">
                9/10 best webdesign ever. Cured my blindess - Tehlo
        </div>
                
        <table class="table_main" cellpadding="10" cellspacing="0" border="0">
            <tr>
                <!-- ============ LEFT COLUMN (MENU) ============== -->
                <td class="left_column">
                    <a href="index">Home</a><br>
                    <a href="contact">Contact</a><br>                          
                </td>
    
                <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
                <td class="right_column">
                    <img width="100%" src="logo.gif">
                    <%- body %>
                </td>
            </tr>
        </table>
        <table class="table_footer" cellpadding="10" cellspacing="0" border="0">
            <tr>
                <!-- ============ LEFT COLUMN (MENU) ============== -->
                <td class="left_column">
                    <br>
                </td>
                
                <!-- ============ RIGHT COLUMN (CONTENT) ============== -->
                <td class="right_column footer_right">
                    <a class="fancy_button" href="free_films">
                        <span style="background-color: #070;">DOWNLOAD FREE FILMS</span>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="left_column"></td>
                <td class="right_column footer_right">                    
                    <%-
                        include("partials/badges", {
                                badges: [
                                    "linux_powered",
                                    "written-in-vi",
                                    "aol_sucks02",
                                    "best_viewed_with_eyes",
                                    "netnow"
                                ]
                            })
                    %>
                </td>
            </tr>
        </table>
    </body>
</html>